@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

#dataCenter {
  scroll-margin-top: 120px;
}
#maintenance {
  scroll-margin-top: 120px;
}
#cybersecurity {
  scroll-margin-top: 120px;
}
#physicalSecurity {
  scroll-margin-top: 115px;
}
#lowCurrent {
  scroll-margin-top: 116px;
}

#audioVisual {
  scroll-margin-top: 115px;
}
@keyframes move-wrapper {
  0% {
    transform: translate(150%, 30%) rotate(0) scale(0.8);
  }

  0% {
    transform: translate(60vw, 0) rotate(150deg) scale(1.2);
  }

  0% {
    transform: translate(40vw, 40vh) rotate(0) scale(0.8);
  }
}

@theme {
  /* Fonts */
  --font-parisienne: "Pacifico, serif";
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
